<div>
  <h1>Parent container</h1>
  <div>
    <button (click)="Decreasecount()">Decrement</button>
    <span>{{ count }}</span>
    <button (click)="Increasecount()">Increment</button>
  </div>
  <app-child [countervalue]="count"></app-child>
</div>
